

a{
  color: black;
  
}

.fullnav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.navtop{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topa{
  font-size: 12px;
  margin: 0.5rem;
  font-weight: 100;
}
