

a{
  color: black;
  
}

.fullnav{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

.navtop{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topa{
  font-size: 12px;
  margin: 0.5rem;
  font-weight: 100;
}

.gallery-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-item {
  width: 150px; /* Ajustez selon vos besoins */
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.title-float{
  display: none;
}